body {
background-image: url('fondo2.jpg');
background-size: cover; /* O 'contain', según lo que necesites */
background-position: center;
background-repeat: no-repeat;
margin: 0; /* Elimina margen por defecto */
height: 100vh; /* Asegura que el fondo cubra toda la ventana */
}
.Imglogo{
    margin: 0;
    width: 55%; /* Ajusta el tamaño si lo deseas */
    display: block; margin: 0 auto;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 3 10px 10px rgba(0, 0, 0, 0.781); /* Sombra */
    transform: translateY(-80px);
}
.logoprin {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 120px;
    margin-left: 300px; 
}

.Ingreso {
    display: flex;
    margin: auto;
    transform: translateY(-40px);
    background-color: rgba(255, 255, 255, 0.623); 
    width: 500px;
    flex-direction: column; /* Opcional: si quieres que los inputs se apilen verticalmente */
    padding-top: 20px;
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.781); /* Sombra */
    border-top: 4px solid #9f37db65
}
.Ingreso h1 {
    position: relative; /* Permite el desplazamiento */
    margin: 0;
    text-align: center;
    margin-top: 40px;
    height: 30px;
    top: -40px; /* Ajusta este valor según necesites */
    margin-bottom: 30px;
   /* border-bottom: 1px solid #ffffffa6 ; *//*coloca una linea bajo el titulo y de un color solido*/
    font-size: 30px;
    
}

.Controls{
    width: 80%;
    border: 1px solid #370852;
    margin-bottom: 20px;
    padding: 11px 10px;
    margin-left: 38px;
    
}
.Salida{
    width: 80%;
   
    margin-bottom: 20px;
    padding: 11px 10px;
    margin-left: 38px;
    
}

.Button{
    width: 35%;
    border: 1px solid #370852;
    margin-bottom: 20px;
    padding: 11px 10px;
    margin-left: 165px;
    
}
.Button:hover {
    background-color: #71138de1; /* Color al pasar el ratón */
}


.Ingresar{
    margin-bottom: 20px;
    padding: 11px 10px;
    margin-left: 150px;
     /*background-color: #71138de1; /* Color al pasar el ratón */
}
.Ingresar a{
    color: #000000;
 }
 .Ingresar:hover a {
    color: #8611ca; /* Color del enlace al pasar el mouse */
}



input {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    font-size: medium;
    
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.contacto {
    background-color: rgb(223, 164, 182);
    width: 500px;
}

.recuperar {
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 8px;
    border: 2px black;
    cursor: pointer;
}
footer {
    background-color: #370852d8;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
  
}
footer p {
    margin: 0;
}
